scripts/modules/MsIndustryLinks/templates/data_source/azureblob/flow_azureblob.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "$authentication": {
      "defaultValue": {},
      "type": "SecureObject"
    }
  },
  "triggers": {
    "When_a_file_is_added_or_modified": {
      "recurrence": {
        "interval": 1,
        "frequency": "Minute"
      },
      "splitOn": "@triggerOutputs()?['body']",
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_azureblob",
          "operationId": "OnUpdatedFiles_V2",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
        },
        "parameters": {
          "dataset": "",
          "folderId": "",
          "maxFileCount": 100
        },
        "authentication": "@parameters('$authentication')"
      }
    }
  },
  "actions": {
    "Get_modified_file_content_using_path": {
      "runAfter": {},
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_azureblob",
          "operationId": "GetFileContentByPath_V2",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
        },
        "parameters": {
          "dataset": "",
          "path": "@triggerOutputs()?['body/Path']",
          "inferContentType": true
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Transform_CSV_data_to_JSON": {
      "runAfter": {
        "Get_modified_file_content_using_path": ["Succeeded"]
      },
      "type": "Workflow",
      "inputs": {
        "host": {
          "workflowReferenceName": ""
        },
        "body": {
          "text": "@body('Get_modified_file_content_using_path')"
        }
      }
    },
    "Ingest_Data_Subflow": {
      "runAfter": {
        "Transform_CSV_data_to_JSON": ["Succeeded"]
      },
      "type": "Workflow",
      "inputs": {
        "host": {
          "workflowReferenceName": ""
        },
        "body": {
          "payload": "@body('Transform_CSV_data_to_JSON')?['response']"
        }
      }
    }
  }
}
