scripts/modules/MsIndustryLinks/templates/ingest/flow_dataverse_upsert.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "$authentication": {
      "defaultValue": {},
      "type": "SecureObject"
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Button",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "payload": {
              "title": "Payload",
              "type": "string",
              "x-ms-dynamically-added": true,
              "description": "The array of items to ingest into Dataverse.",
              "x-ms-content-hint": "TEXT"
            }
          },
          "required": ["payload"]
        }
      }
    }
  },
  "actions": {
    "For_each_item": {
      "foreach": "@array(json(triggerBody()['payload']))",
      "actions": {
        "Find_existing_record": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "",
              "$select": "",
              "$filter": "",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Insert_or_update_record": {
          "actions": {
            "Update_record": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {},
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Find_existing_record": ["Succeeded"]
          },
          "else": {
            "actions": {
              "Add_record": {
                "runAfter": {},
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {},
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@length(outputs('Find_existing_record')?['body/value'])",
              1
            ]
          },
          "type": "If"
        }
      },
      "runAfter": {},
      "type": "Foreach"
    },
    "Flow_output": {
      "runAfter": {
        "For_each_item": ["Succeeded"]
      },
      "type": "Response",
      "kind": "PowerApp",
      "inputs": {
        "statusCode": 200,
        "body": {},
        "schema": {
          "type": "object",
          "properties": {}
        }
      }
    }
  }
}
